.services, .services_java, .services_db{
    width: 90%;
    min-width: 290px;
    max-width: 380px;
    padding: 15px;
}

.services{
    position: relative;
    right: 230px;
    top: 30px;
}
.services_java, .services_db{
    position: relative;
    left: 210px;
    bottom: 431px;
}
.services_git{
    position: relative;
    bottom: 400px;
}
.main_details{
    height: 970px;
}