.header--title-container h1{
    font-size: 5.5rem;

}
.header--title-container p{
    font-size: 2.5rem;
}


.about-me{
    height:  400px;
}

.about-me-description h2{
    position: relative;
    bottom: 300px;
    left: 10px;
    font-size: 5rem;
}

.about-me-description p{
    position: relative;
    left: 190px;
    top: -240px;
    width: 500px;
    font-size: 2rem;
    line-height: 25px;
}
.about-me .about-me-img{
    position: relative;
    width: 220px;
    height: 220px;
    right: 260px;
    top: 90px;
    border-radius: 170px;
}