/*Estilos de posicionamiento*/
/*Modelo de caja*/
/*Tipografía*/
/*Visuales*/
/*Otros*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background-color: black;
    font-family: 'Ubuntu', 'sans-serif';
}

/*------------------------------------------------------------------------*/

.navbar a{
    position: relative;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    font-size: 2rem;
    top: 10px;
    margin: 10px;
    text-align: center;
}

.navbar img{
    position: relative;
    top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

/*---------------------------------------------------------------------------*/



.header--title-container{
    color: white;
    width: 90%;
    min-width: 288px;
    max-width: 1280px;
    height: auto;
    margin-top: 100px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 3rem;
    font-weight: bold;
}

.header--title-container p {
    margin-top: 20px;
    font-size:1.8rem;
    line-height: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}

/*----------------------------------------------------------------------------*/


main {
    width: 100%;
    height: auto;
    background-color:rgb(34, 34, 34);
    font-family: 'Roboto Condensed', sans-serif;
}

.about-me{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    background-color:rgb(34, 34, 34);
}


